@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family:  'Poppins', sans-serif;

}

body{
    position: relative;
    z-index: -1;
    background-color: black;
} 
.main{
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1400px, 100vw);
    height: 700px;
    position: relative;
    z-index: -2;

}
.main .opacity{
    height: 700px;
    width: 100vw;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    z-index: -1;
}

nav{
    width:90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 80px;
}
.main img{
    width: 150px;
}

.btn{
    width: 80px;
    height: 30px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid white;
    margin: 4px;
}
.red{
    background-color: red;
}

.hero{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 620px;
    gap: 20px;
    font-size: 21px;
    text-align: center;
    width: 90%;
    margin: auto;
}
.hero> :nth-child(1){
    font-weight: 900;
    font-size: xx-large;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    z-index: 10;
    position: relative;
    
}
input{
    height: 40px;
    width: 300px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.616);
    font-size: 17px;
    padding: 5px 15px;
    border-radius: 4px;
}
.hero-btn .btn{
    width: 250px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid white;
    margin: 4px;
    font-size: larger;
}
.space{
    background-color: rgb(49, 49, 49);
    height: 7px;
    position: relative;
    /* top: 0; */
}
.first{
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 90vw;
    margin: auto;
}
.text{
    display: flex;
    flex-direction: column;
    width: min(450px,60vw);
    height: 350px;
    justify-content: center;
    gap: 20px;
}
.text>:nth-child(1){
    font-weight: 900;
    font-size: 50px;
}

.first .tv{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.tv img{
    position: relative;
    top: 13px;
    width: 675px;
}
.tv video{
    position: absolute;
    align-items: center;
    width: 505px;
    z-index: -1;
}
.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.faq .heading{
    font-weight: 900;
    font-size: 50px;
    padding: 25px 0px;
}
.ques{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;

}
.ques .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 30px ;
    /* height: 70px; */
    width: 70vw;
    background-color: rgba(80, 74, 74, 0.425);
    font-size: 24px;
}
.ques .box:hover{
    background-color: rgba(158, 152, 152, 0.425);

}
.faq .hero{
    height: auto;
    padding-bottom: 40px;
}
.b11{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 30px ;
    /* height: 70px; */
    width: 70vw;
    background-color: rgba(80, 74, 74, 0.425);
    font-size: 20px;
    animation: a 0.4s ease 1;
}
@keyframes a {
    from{
        height: 0px;
    }
    to{
        height: 100px;
    }
}
.b111{
    height: 0px;
    width: 70px;
    padding:0px 30px ;

    background-color: rgb(0, 0, 0);
    font-size: 24px;
    animation: a2 0.4s ease 1;
}
@keyframes a2 {
    from{
        height: 100px;
        background-color: rgba(80, 74, 74, 0.425);
    }
    to{
        height: 0px;
        background-color: rgb(0, 0, 0);
    }
}








































@media screen and (max-width: 1283px){
    .tv img{
        width: 80vw;
    }
    .tv video{
        width: 59vw;
    }
    
    .first{
        font-size: 20px;
        text-align: center;
        max-width: 90%;
        gap: 0px;
    }
    .text{
        width: 100%;
        height: 250px;
    }
    .hero{
        font-size: 19px;
    }
    .hero> :nth-child(1){
        font-weight: 900;
        font-size: 36px;
    }
    
    .ques .box {
        width: 80vw;
    }
    .b11{
        width: 80vw;
        font-size: 19px;
    }
    .b111{
        width: 80vw;
        font-size: 19px;
    }
}
@media screen and (max-width: 787px){
    .text>:nth-child(1){
        font-size: 36px;
    }
    .faq .heading{
        font-size: 27px;
    }
    .ques .box{
        font-size: 18px;
    }
    .b11{
        font-size: 15px;
    }
    .b111{
        font-size: 15px;
    }

}
